## How large would you like to expand the coverage window (minimum of 1)
window_length=1

## The location of the .VCF input file 
input_file=

## The output location, if not specified the output directory will be saved to the input location
output_location=

## The project name, folders and output files will contain this name 
project_name=out

## The mutation motif flanks around the original nucleotide
flanks=0

## Full path to reference genome
referenceGenome=

## The minimum allowable amount of indels in your FASTA files
indel_max_amount=25

## All intermediate files are saved (parsed VCF, BED files, FASTA files)
save_all_data=false

## Save output directory to S3 storage
save_S3=false

## Your S3 login info, Not needed if you're using University of Minnesota's MSI cluster
s3_login=
s3_password=

## Dropbox auth number
dropbox=
