#################################
##	  General Info	       ##
#################################

## The project name. Folders and output files will contain this name 
project_name=

## Email. Only needed if MSI mode is 'true'
input_email=

## Full physical path to the reference genome
referenceGenome=

## The location of the .VCF input file 
input_file=

## The output location. If not specified, the output directory will be saved to the input location
output_location=

#################################
##	   MSI Options	       ##
#################################

## MSI mode, set this to true if you are on the University of Minnesota's Supercomputer. Otherwise, set to false.
MSI_Mode=true

## If MSI mode is true, then fill out the these parameters
## The cluster resources needed to complete the job. Check out (https://www.msi.umn.edu/queues) for parameters.
job_specs="mem=40gb,nodes=1:ppn=16,walltime=24:00:00"

#################################
##	  Mutation Motif       ##
#################################

## How large would you like to expand the coverage window in bp (min 1, max 99)
window_length=0

## The mutation motif flanks around the original nucleotide in bp (min 0, max 2)
flanks=0

## The minimum allowable percent of indels in your FASTA files (min 25, max 100)
indel_max_amount=25

#################################
##	  Mutation Analysis    ##
#################################

## Would you like to generate motif graphs (true or false)
mutation_analysis=true

## Would you like to use nbr or spectra argument - defaults to nbr
## 1 = nbr
## 2 = spectra
nbr_or_spectra=1

## Would you like to use strand-symmetry or None - defaults to None
## 0 = None
## 1 = strand symmetry
strand_symmetry_or_asymmetry=1

#################################
##	 Saving Options	           ##
#################################

## All intermediate files are saved (parsed VCF, BED files, FASTA files)
save_all_data=false

## Save output directory to Amazon S3 storage, for non-MSI S3 - make sure you have your 'aws' credentials in your home directory.
## Follow these instructions below for non-MSI users, or msi users who want to use their own personal S3 accounts:
## https://docs.aws.amazon.com/config/latest/developerguide/gs-cli.htmll
## Choose 0 - 3:
## 0: No S3
## 1: MSI S3 only
## 2: External Amazon S3 ONLY (Needs .aws in home dir)
## 3: Save on BOTH MSI S3 and Amazon's external S3
save_S3=0

## Save counts tables to your Dropbox app (https://www.dropbox.com/developers/apps)
dropbox=false

## Your Dropbox auth code, leave blank if you're not using
dropbox_auth=

## GitHub
github=false

## GitHub username and password, leave blank if you're not using
## These will be redacted from config file when uploaded to GitHub
gitUser=
gitPass=

## The repository (repo) name you will be up loading to, leave blank if you're not using
Myrepository=

## The repo's owner (their username), if it's your repo you just leave empty, leave blank if you're not using
owner=

